{{ $baseurl := .Site.BaseUrl }}

<!DOCTYPE html>
<html class='no-js' lang='en-US' prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#'>
<head>
  <meta charset='utf-8'>

  <base href='{{ $baseurl }}'>
  <title> {{ .Title }} : spf13.com </title>
  <link rel='canonical' href='{{ .Permalink }}'>

  <link rel='stylesheet' href='{{ $baseurl }}/css/bootstrap.min.css'>
  <link rel='stylesheet' href='{{ $baseurl }}/css/font-awesome.min.css'>
  <link rel='stylesheet' href='{{ $baseurl }}/css/shCore.css'>
  <link rel='stylesheet' href='{{ $baseurl }}/css/shThemeDefault.css'>

  {{ if .RSSlink }}<link href='{{ .RSSlink }}' rel='alternate' type='application/rss+xml' title='{{ .Title }}' />{{ end }}
</head>
<body lang='en'>
